@using System.Globalization;
@using OnlineStore.Models.DTOs;﻿
@using OnlineStore.Repositories;
@using OnlineStore.Data;
@addTagHelper *, OnlineStore
@model ProductDisplayModel;

@{
    ViewData["Title"] = "Home Page";
}


<div class="my-2">
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="categoryId">Category</label>
            <select class="form-select" id="categoryId" name="categoryId">
            <option selected>Категорія</option>
            @foreach (var category in Model.Categories)
                {
                    <option selected="@(category.CategoryId == Model.CategoryId)" value="@category.CategoryId">@category.CategoryName</option>
                }
          </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="supplierId">Supplier</label>
            <select class="form-select" id="supplierId" name="supplierId">
                <option selected>Постачальник</option>
                @foreach (var supplier in Model.Suppliers)
                {
                    <option selected="@(supplier.SupplierId == Model.SupplierId)" value="@supplier.SupplierId">@supplier.SupplierName</option>
                }
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by name</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search by name">
            </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Шукати</button>
          <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Скасувати</a>
        </div>
    </form>
</div>

@if (User.IsInRole("Admin"))
{
    <p class ="my-2"><a asp-action="Create" asp-controller="Home">Створити продукт</a></p>
}

@if (!(Model.Products.Count() == 0))
{
    <div class="w-100 mt-4 d-flex flex-wrap ">
        @foreach (var prod in Model.Products)
        {
            <div class="card mx-2 mb-4 " style="width: 308px;">
                @if (string.IsNullOrEmpty(prod.ProductImageName))
                {
                    <img style="width:100%; height: 500px;" src="~/img/NoImage.png" class="card-img-top" alt="Product Image">
                }
                else
                {
                    <img style="width:100%; height: 500px;" src="~/img/@prod.ProductImageName" class="card-img-top" alt="Product Image">
                }
                <div class="card-body">
                    <h5 class="card-title" style="height: 48px;">@prod.ProductName</h5>
                    @if (@prod.ProductDescription == null)
                    {
                        <p class="card-text" style="height: 96px; text-align: justify;">Опис відсутній</p>
                    }
                    else
                    {
                        <p class="card-text" style="height: 96px; text-align: justify;">@prod.ProductDescription</p>
                    }
                    <p class="card-text">Ціна: @prod.ProductPrice.ToString("C2", new CultureInfo("uk-UA"))</p>
                    <p class="card-text">Постачальник: @prod.Supplier?.SupplierName</p>
                    <button type="button" onclick="add(@prod.ProductId)" class="btn btn-primary">Купити</button>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="my-2">
                            <a asp-action="Edit" asp-controller="Home" asp-route-id="@prod.ProductId" class="btn btn-primary">Редагувати</a>
                            <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@prod.ProductId" class="d-inline-block">
                                <input type="submit" value="Видалити" class="btn btn-primary" />    
                            </form>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-sTerm="@(Model.STerm)"
           page-url-categoryId="@(Model.CategoryId)"
           page-url-supplierId="@(Model.SupplierId)"></page-link>
}
else if (User.IsInRole("Admin"))
{
    <p>Потрібно додати товар</p>
}
else
{
    <p>Товар ще не додано адміністратором</p>
}



@section Scripts
{
    <script>
        async function add(productId)
        {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try
            {
                var response = await fetch(`/Cart/AddItem?productId=${productId}`);
                if (response.status == 200)
                {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
                
            }
            catch(err)
            {
                console.log(err);
            }
        }
    </script>
}